<a href="https://colab.research.google.com/github/rmanicav/Data-science-projects/blob/main/proj_text2sql_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Project 15: Text2SQL via Prompt Engineering


#Solve : Can you create dataset for employees with at least 2 tables

In [4]:
import sqlite3
import pandas as pd
import os

# Define SQL schemas for creating tables
employee_schema = """
CREATE TABLE IF NOT EXISTS employers (
    employer_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    email VARCHAR(50),
    phone_number VARCHAR(50),
    address VARCHAR(50),
    city VARCHAR(50),
    country VARCHAR(50),
    postal_code VARCHAR(50)



);
"""

emp_details_schema = """
CREATE TABLE IF NOT EXISTS empincome (
    income_id INT PRIMARY KEY,
    employer_id INT,
    salary INT,
    bonus INT,
    foreign key (employer_id) references employers(employer_id)

);
"""

In [3]:
db_name = 'employer.db'
if os.path.exists(db_name):
    os.remove(db_name)
    print(f"Removed existing database '{db_name}'.")

In [8]:
import sqlite3
import pandas as pd
import os

COLUMN_DATA_TYPES = { 'employers':{ 'employer_id': 'int64',
        'first_name': 'object',
        'last_name': 'object',
        'email': 'object',
        'phone_number': 'object',
        'address': 'object',
        'city': 'object',
        'country': 'object',
        'postal_code': 'object'}, 'empincome':{'income_id':'int64',
    'employer_id': 'int64',
    'salary': 'float64',
    'bonus': 'float64'
    }}

    # --- Database setup ---
db_name = 'employees.db'
conn = None  # Initialize connection to None

try:
    # Establish a connection to the SQLite database
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()
    print(f"Database '{db_name}' created and connected successfully. âœ…")

    # Create tables
    cursor.execute(employee_schema)
    cursor.execute(emp_details_schema)

    print("Tables 'employers', 'empincome' created successfully.")




    # Commit the changes to the database
    conn.commit()
    print("\nData committed to the database successfully. ðŸŽ‰")

except sqlite3.Error as e:
    print(f"Database error: {e}")
except pd.errors.EmptyDataError as e:
    print(f"Pandas error: {e}. One of the CSV files might be empty.")
except KeyError as e:
    print(f"Schema definition error: A column is missing from the TABLE_DATA_TYPES dictionary: {e}")
except Exception as e:
    print(f"An unexpected error occurred: {e}")
finally:
    # Close the connection if it was established
    if conn:
        conn.close()
        print("Database connection closed.")

Database 'employees.db' created and connected successfully. âœ…
Tables 'employers', 'empincome' created successfully.
Warning: '/content/customers.csv' not found. Skipping data load for 'employers'.
Warning: '/content/products.csv' not found. Skipping data load for 'empincome'.

Data committed to the database successfully. ðŸŽ‰
Database connection closed.

In [9]:
import sqlite3

db_name = 'employees.db'
conn = None

try:
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()

    # Insert dummy data into employers table
    employers_data = [
        (1, 'Alice', 'Smith', 'alice.smith@example.com', '123-456-7890', '123 Main St', 'New York', 'USA', '10001'),
        (2, 'Bob', 'Johnson', 'bob.j@example.com', '098-765-4321', '456 Oak Ave', 'Los Angeles', 'USA', '90001'),
        (3, 'Charlie', 'Brown', 'charlie.b@example.com', '111-222-3333', '789 Pine Ln', 'Chicago', 'USA', '60601'),
        (4, 'Diana', 'Prince', 'diana.p@example.com', '444-555-6666', '101 Elm Rd', 'Houston', 'USA', '77001')
    ]

    cursor.executemany("INSERT INTO employers (employer_id, first_name, last_name, email, phone_number, address, city, country, postal_code) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)", employers_data)

    # Insert dummy data into empincome table
    empincome_data = [
        (101, 1, 60000, 5000),
        (102, 2, 75000, 7500),
        (103, 1, 62000, 5200),
        (104, 3, 90000, 10000),
        (105, 4, 80000, 8000)
    ]

    cursor.executemany("INSERT INTO empincome (income_id, employer_id, salary, bonus) VALUES (?, ?, ?, ?)", empincome_data)

    conn.commit()
    print("Dummy data inserted successfully into 'employers' and 'empincome' tables. ðŸŽ‰")

except sqlite3.Error as e:
    print(f"Database error: {e}")
except Exception as e:
    print(f"An unexpected error occurred: {e}")
finally:
    if conn:
        conn.close()
        print("Database connection closed.")

Dummy data inserted successfully into 'employers' and 'empincome' tables. ðŸŽ‰
Database connection closed.

In [10]:
#AIzaSyBc4VFvoeWEQtqKTm5l-tg82eElFoos35Y
from google import genai
from google.colab import userdata
genai_client = genai.Client(api_key='AIzaSyBc4VFvoeWEQtqKTm5l-tg82eElFoos35Y')

In [32]:
import json
def get_sql_query_via_gemini(genai_client, prompt, user_query):

  # https://www.geeksforgeeks.org/python/formatted-string-literals-f-strings-python/
  contents = f"""
  {prompt}

  Here's the user query in english you need to work on:
  {user_query}
  """
  response = genai_client.models.generate_content(model='gemini-2.5-flash', contents=contents)
  # print(response) # uncomment this and understand at the output

  # Access the usage_metadata attribute
  usage_metadata = response.usage_metadata

  # Print the different token counts
  print(f"Input Token Count: {usage_metadata.prompt_token_count}")
  print(f"Thoughts Token Count: {response.usage_metadata.thoughts_token_count}")
  print(f"Output Token Count: {usage_metadata.candidates_token_count}")
  print(f"Total Token Count: {usage_metadata.total_token_count}")

  output = response.text.replace('```sql', '').replace('```', '')

  return output

In [17]:
import sqlite3
import pandas as pd

def execute_query(query, db_name='employees.db'):

    conn = None
    try:
        # Connect to the database
        conn = sqlite3.connect(db_name)
        cursor = conn.cursor()

        # Execute the query
        print(f"\nExecuting query on '{db_name}':\n{query}")
        cursor.execute(query)

        # Fetch all results
        results = cursor.fetchall()

        # Get column names from the cursor description
        columns = [description[0] for description in cursor.description]

        # Format results as a dataframe for easier use
        results_as_dict = [dict(zip(columns, row)) for row in results]
        results_df = pd.DataFrame(results_as_dict)

        print("Query executed successfully.")
        return results_df

    except sqlite3.Error as e:
        print(f"Database error executing query: {e}")
        return None
    except Exception as e:
        print(f"An unexpected error occurred: {e}")
        return None
    finally:
        if conn:
            conn.close()

In [12]:
def text2sql(genai_client, prompt, user_query):
  output = get_sql_query_via_gemini(genai_client, prompt, user_query)
  results = execute_query(output)
  return results

In [34]:
prompt =f"""
You are an expert in SQL. Given the table schemas below, write a SQLite SQL query to answer the user's question.

Table: employers
Schema:
CREATE TABLE IF NOT EXISTS employers (
    employer_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    email VARCHAR(50),
    phone_number VARCHAR(50),
    address VARCHAR(50),
    city VARCHAR(50),
    country VARCHAR(50),
    postal_code VARCHAR(50)



);

Example Data: [(1, 'Alice', 'Smith', 'alice.smith@example.com', '123-456-7890', '123 Main St', 'New York', 'USA', '10001'), (2, 'Bob', 'Johnson', 'bob.j@example.com', '098-765-4321', '456 Oak Ave', 'Los Angeles', 'USA', '90001'), (3, 'Charlie', 'Brown', 'charlie.b@example.com', '111-222-3333', '789 Pine Ln', 'Chicago', 'USA', '60601'), (4, 'Diana', 'Prince', 'diana.p@example.com', '444-555-6666', '101 Elm Rd', 'Houston', 'USA', '77001')]

Table: empincome
Schema:
CREATE TABLE IF NOT EXISTS empincome (
    income_id INT PRIMARY KEY,
    employer_id INT,
    salary INT,
    bonus INT,
    foreign key (employer_id) references employers(employer_id)

);

Example Data: [(101, 1, 60000, 5000), (102, 2, 75000, 7500), (103, 1, 62000, 5200), (104, 3, 90000, 10000), (105, 4, 80000, 8000)]

###CONSTRAINTS###

* Only return a valid SQL query as output â€” no explanations or extra text.
* The user is using sqllite database - respond with correct and valid sqllite syntax
* Use aliases (`AS`) for column names only when the original name is ambiguous.
* Do not create or modify tables.
* Do not assume the existence of tables or columns not provided in the schema.
* Avoid subqueries unless absolutely necessary for correctness or performance.
* Prefer readability: indent joins and clauses properly.

###OUTPUT FORMAT###
Return only the sqllite SQL query as a code block using triple backticks and the `sql` language tag, like this:

```sql
-- Your SQL query here
```

"""

In [35]:
text2sql(genai_client, prompt, "Show all rows in employer table")

Input Token Count: 705
Thoughts Token Count: 33
Output Token Count: 11
Total Token Count: 749

Executing query on 'employees.db':

SELECT *
FROM employers;

Query executed successfully.

,employer_id,first_name,last_name,email,phone_number,address,city,country,postal_code
0,1,Alice,Smith,alice.smith@example.com,123-456-7890,123 Main St,New York,USA,10001
1,2,Bob,Johnson,bob.j@example.com,098-765-4321,456 Oak Ave,Los Angeles,USA,90001
2,3,Charlie,Brown,charlie.b@example.com,111-222-3333,789 Pine Ln,Chicago,USA,60601
3,4,Diana,Prince,diana.p@example.com,444-555-6666,101 Elm Rd,Houston,USA,77001

In [36]:
text2sql(genai_client, prompt, "Show all employer name and income")

Input Token Count: 705
Thoughts Token Count: 78
Output Token Count: 59
Total Token Count: 842

Executing query on 'employees.db':

SELECT
  e.first_name,
  e.last_name,
  ei.salary,
  ei.bonus
FROM employers AS e
JOIN empincome AS ei
  ON e.employer_id = ei.employer_id;

Query executed successfully.

  first_name last_name  salary  bonus
0      Alice     Smith   60000   5000
1        Bob   Johnson   75000   7500
2      Alice     Smith   62000   5200
3    Charlie     Brown   90000  10000
4      Diana    Prince   80000   8000